---
import Layout from '../layouts/Layout.astro';
import RepositoryTabNav from '../components/RepositoryTabNav.astro';
import RepositoryHeaderActions from '../components/RepositoryHeaderActions.astro';
---

<Layout title="Repository View">
	<main class="RepositoryView">
		<div class="RepositoryView-header">
			<RepositoryHeaderActions 
				username={"yashsehgal"} 
				repositoryName={"aria"} 
				watchStatus={"watching"}
				watchCount={12}
				starCount={6}
				forkCount={8}
			/>
			<div class="m-2" />
			<RepositoryTabNav />
		</div>
	</main>
</Layout>

<style>

</style>
