---
export interface Props {
	title: string;
	username: string;
	status: boolean;  // true: online, false: offline 
	// but ideally it should be: "offline", "online", "idle", "do-not-disturb" (non-boolean)
}

const { title, username, status } = Astro.props;
---

<div class="account-card">
	<h2 class="user-title">
		{title}
	</h2>
	<p class="user-username">
		{"@" + username}
	</p>
	<span class={`user-status ${status ? "status-online" : "status-offline"}`}>
		<div class="status-dot" />
		<span>{status ? "online" : "offline"}</span>
	</span>
</div>

<style>
	div.account-card > * {
		margin: 0;
		padding: 0;
	}
	div.account-card {
		background-color: white;
		padding: 2rem;
		border: 1px dashed #cccccc;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;
		cursor: default;
	}
	div.account-card:hover {
		border-color: #aaaaaa;
	}
	h2.user-title {
		font-weight: 500;
		letter-spacing: -0.5px;
	}
	p.user-username {
		color: gray;
	}
	span.user-status {
		padding: 5px 10px;
		border-radius: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
	}
	span.status-online {
		background-color: #BBD6B8;
		color: #285430;
	}
	span.status-offline {
		background-color: #FA988455;
		color: red;
	}
	div.status-dot {
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}
	span.status-online > div.status-dot {
		background-color: #285430;
	}
	span.status-offline > div.status-dot {
		background-color: red;
	}
</style>